.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background: lightblue;
  text-align: center;
}
.container {
  background-color: white;
  border-radius: 5%;
  margin: 10% 37%;
  box-shadow: 3px 3px 3px grey, 6px 6px 3px lightgrey;
}

h1 {
  font-size: 1.3em;
  padding: 0 8%;
  padding-top: 5%;
}

p {
  font-size: 15px;
  padding: 0 8%;
  padding-bottom: 5%;
}

img {
  width: 90%;
  margin-top: 5%;
  border-radius: 5%;
}

img:hover {
  animation: hoverAnimation 1s forwards;
}


@keyframes hoverAnimation{
  from {
    transform: scaleX(1);
  }
  to {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px grey;
  }
}
